/* Snippet: Compact search field */
/* By: Wroclaw */
/* Source: GitHub: https://github.com/amozeo/discord-css-snippets | Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1448455055337328831 */
/* License: CC0 */
/* =========================================================================== */
.search_c322aa > .searchBar_c322aa {
	width: 32px !important;
	background: none;
	border-color: transparent;
	transition:
		background 0.25s ease,
		width 0.25s ease,
		border-color 0.25s ease;
}

.search_c322aa > .searchBar_c322aa .DraftEditor-root {
	padding-right: 3px !important;
}

.search_c322aa.open_c322aa > .searchBar_c322aa {
	width: 244px !important;
	background: var(--background-gradient-low, var(--input-background-default));
	border-color: var(--input-border-default);
}

.search_c322aa > .searchBar_c322aa .icon_c322aa {
	margin-right: 7px;
}

.search__49676 {
	margin: 0 !important;
	width: auto !important;
}

/* =========================================================================== */
