/* Snippet: Compact Command Picker */
/* By: EPOS05 */
/* Source: GitHub: https://github.com/EPOS05/cleaner-discord-theme */
/* License: CC0 */
/* =========================================================================== */
/* Main Menu */
.autocomplete__13533.outerWrapper_d1405b {
	max-width: 800px;
}

/* Autocomplete Menu */
.autocomplete__13533.autocomplete__6b0e0 {
	max-height: 500px;
	width: 800px;
}

/* =========================================================================== */
