/* Snippet: Don't Cover Server List With Panel */
/* By: obsidianninja11 */
/* Source: Discord: https://discord.com/channels/1015060230222131221/1028106818368589824/1354331484831354952 */
/* License: CC0 */
/* =========================================================================== */
.visual-refresh section.panels__5e434 {
	left: calc(var(--custom-guild-list-width) + var(--space-xs));
	width: calc(100% - var(--custom-guild-list-width) - var(--space-xs) * 2);
	box-sizing: border-box;

	.actionButtons_e131a9 button {
		padding: 0;
	}

	/* GameActivityToggle Fix (delete if you don't use) */
	/* .container__37e49 {
    padding: var(--space-xxs);
    gap: var(--space-4);
    >.buttons__37e49 {
		gap: 0 !important;
    }
    >.avatarWrapper__37e49 {
		min-width: 32px !important;
	>.avatar__37e49 {
        scale: 0.9;
	}
    }
  } */
}
nav.guilds__5e434 {
	margin-bottom: 0 !important;
}
.sidebar__5e434:after {
	display: none;
}
/* BetterFolders fix (delete if you don't use) */
/* .vc-betterFolders-sidebar~section.panels__5e434 {
	left: calc(var(--custom-guild-list-width)*2  + var(--space-xs));
	width: calc(100% - var(--custom-guild-list-width)*2 - var(--space-xs)*2 ) !important;
} */

/* Hide the arrows (creates extra room) */
.micButtonParent__37e49 > .buttonChevron__37e49 {
	display: none;
}
.micButtonParent__37e49 > .micButtonWithMenu__37e49 {
	border-radius: var(--radius-sm);
}

/* =========================================================================== */
